.background{
    background-color: darkgray;
    height: 100vh;
    margin: 0px;
  }
  
.title{
    display: flex;
    background-color: blueviolet;
    justify-content: center;
    margin: 0;
    margin-bottom: 25px;
}
  